<nav class="d-flex h-100 text-center text-white" style="background-color: #233e5c;">
  <div>
  <img src="../assets/img/img2.png" alt="" width="150">
</div>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#"><span id="menu">Página Inicial</span></a>
        <a class="nav-link" routerLink="cursos"><span id="menu">Cursos</span></a>
      </nav>
    </div>
    <h1>Cast Cursos</h1>
    <p class="lead">Nossa maior fraqueza é desistir. O caminho mais certo para o sucesso é sempre tentar apenas uma
      vez mais. "Thomas A. Edison"</p>
  </div>
</nav>

<router-outlet></router-outlet>
