<br>

<!-- modal cadastrar -->

<div class="d-flex justify-content-center">
  <button  class="btn btn-light" (click)="open(mymodal)">Cadastrar Curso</button>
</div>

<ng-template #mymodal let-modal [formGroup]="cursoForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cadastrar Curso</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Descrição</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" formControlName="descricao"></textarea>
    </div><br>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Data de Início</span>
      </div>
      <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" formControlName="dataInicio">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Data de Término</span>
      </div>
      <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" formControlName="dataTermino">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Quantidade de Alunos</span>
      </div>
      <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" formControlName="quantidadeAlunos">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Categorias</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" formControlName="categoriaId">
        <option *ngFor="let categoria of categorias" value = {{categoria.id}}>
          {{categoria.nome}}
        </option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="save()">Adicionar</button>
  </div>
</ng-template>

<!-- modal editar -->

<ng-template #mymodal2 let-modal [formGroup]="cursoForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Curso</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Descrição</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" formControlName="descricao" >{{teste}}</textarea>
    </div><br>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Data de Início</span>
      </div>
      <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" formControlName="dataInicio">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Data de Término</span>
      </div>
      <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" formControlName="dataTermino">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Quantidade de Alunos</span>
      </div>
      <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" formControlName="quantidadeAlunos">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Categorias</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" formControlName="categoriaId">
        <option *ngFor="let categoria of categorias" value = {{categoria.id}}>
          {{categoria.nome}}
        </option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="update()">Editar</button>
  </div>
</ng-template>

<div class="text-center text-white">
  <div class="cover-container d-flex w-25  p-3 mx-auto flex-column">
    <input class="form-control me-2" type="search" placeholder="Pesquisa pelo nome do curso ou período" aria-label="Search">
  </div>
</div>

<div class="container">
  <hr>
  <!-- Tabela de cursos -->
  <table class="table">
    <!-- Tabela Superior -->
    <thead class="table-dark">
      <tr>
        <th scope="col">Descrição do assunto</th>
        <th scope="col">Data de início</th>
        <th scope="col">Data de término</th>
        <th scope="col">Quantidade de alunos por turma</th>
        <th scope="col">Categoria</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <!-- Corpo da Tabela -->
    <tbody class="table-light">
      <tr *ngFor="let curso of cursos">
        <td>{{curso.descricao}}</td>
        <td>{{curso.dataInicio}}</td>
        <td>{{curso.dataTermino}}</td>
        <td>{{curso.quantidadeAlunos}}</td>
        <td *ngIf="curso.categoriaId == 1">Multiplataforma</td>
        <td *ngIf="curso.categoriaId == 2">Banco de Dados</td>
        <td *ngIf="curso.categoriaId == 3">Metodologia</td>
        <td *ngIf="curso.categoriaId == 4">Comportamento</td>
        <td *ngIf="curso.categoriaId == 5">Comunicação</td>
        <td>
            <button type="button" class="btn btn-danger" aria-hidden="true" (click)="delete(curso)"> Excluir</button>
          <br>
            <button class="btn btn-primary" aria-hidden="true" (click)="open(mymodal2)" (click)="getById(curso)"> Editar</button>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>
  <hr>
</div>

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-light" [routerLink]="['/home']"
    routerLinkActive="router-link-active">Voltar</button>
</div>
